{% extends 'cricitup/base.html' %}

{% load static %}


{% block content %}
<section>
    <!-- <h1>where is this text</h1>
    <h2>Players from me</h2> -->
    <div class="row">
      <div class="col-lg-12">
          <h1>Coach List</h1>
          <div class="card-container">
              {% for coach in coaches %}
              <div class="card">
                <div class="card-image">
                <img src="{% if coach.3 %}{{ coach.3 }}{% else %}{% static 'cricitup/images/default.jpg' %}{% endif %}" alt="{{ coach.0 }}" class="player-image">
                </div>
                <p>{{ coach.0 }}</p>
                <p>Nationality: {{ coach.1 }}</p>
                  <p>Age: {{ coach.2 }}</p>
              </div>
              {% endfor %}
          </div>
      </div>
    </div>
    {% endblock %}